Repository sideeffffect/sbt-decent-scala, pull requests merged in 2021-01, with the labels that each got.

#85 Update GHA settings
  .github/release-drafter.yml
  .github/workflows/ci.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .mergify.yml
  build.sbt
Labels: mergify-merge

#86 GHA: try on/release/published
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
Labels: mergify-merge

#80 Update sbt-tpolecat to 0.1.16
  project/Dependencies.scala
  project/plugins.sbt
Labels: dependency-update

#87 Update sbt-scalafix to 0.9.25
  project/Dependencies.scala
  project/plugins.sbt
Labels: type: dependencies

#88 Update scaluzzi to 0.1.17
  project/Dependencies.scala
  src/main/scala/com/github/sideeffffect/sbtdecentscala/Dependencies.scala
Labels: type: dependencies

#89 Update sbt to 1.4.7
  project/build.properties
Labels: type: dependencies
