Repository sideeffffect/sbt-decent-scala, pull requests merged in 2024-02, with the labels that each got.

#101 Remove Missinglink ignore for sbt
  build.sbt
Labels: mergify-merge, mergify-update

#367 Update sbt-version-policy to 3.2.0
  project/Dependencies.scala
  project/plugins.sbt
Labels: type: dependencies, type: breaking

#372 Update zerowaste to 0.2.16
  project/Dependencies.scala
  src/main/scala/com/github/sideeffffect/sbtdecentscala/Dependencies.scala
Labels: type: dependencies

#373 Update missinglink-core to 0.2.11
  project/Dependencies.scala
  project/plugins.sbt
Labels: type: dependencies

#374 Update scalafmt-core to 3.8.0
  .scalafmt.conf
Labels: type: dependencies

#376 Update sbt to 1.9.9
  project/build.properties
Labels: type: dependencies

#380 Update zerowaste to 0.2.18
  project/Dependencies.scala
  src/main/scala/com/github/sideeffffect/sbtdecentscala/Dependencies.scala
Labels: type: dependencies
